* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(65, 185, 131, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: transform 0.2s;
    cursor: pointer;
}

.square:hover {
    transform: scale(1.1);
}

/* Adicione estilos para o vencedor */
.winner-X {
    background-color: #aaffaa; /* Verde */
    color: #008000; /* Verde mais escuro para o texto */
    font-weight: bold;
  }
  
  .winner-O {
    background-color: #aaffaa; /* Verde */
    color: #008000; /* Verde mais escuro para o texto */
    font-weight: bold;
  }
  
  /* Adicione estilos para o empate */
  .draw {
    background-color: #ffffaa; /* Amarelo */
    color: #888800; /* Amarelo mais escuro para o texto */
    font-weight: bold;
  }
  
  .button-container {
    text-align: center; /* Centralizar horizontalmente o botão */
    margin-top: 20px; /* Espaçamento superior para separar o botão da tabela */
}

/* Estilos do botão de reiniciar */
.restart-button {
    background-color: #001aff; /* Cor de fundo vermelha */
    color: #ffffff; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s; /* Efeito de transição */
}

.restart-button:hover {
    background-color: #15ff00; /* Cor de fundo vermelha mais escura ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}